.App {
  text-align: center;
}

button {
  margin: 20px 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  background-color: rgb(41, 37, 37);
  font-weight: bold;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

thead,
tr:nth-child(even){
  background-color: #f2f2f2;
}

img {
  height: 100px;
}
